@charset "UTF-8";

@font-face {
    font-family: 'FonteLogo';
    src: url('../_fonts/bubblegum-sans-regular.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');



body{
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}

div#interface{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto; /*Para centralizar na tela*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    padding: 10px;
}

/*Formatação do Menu*/

nav#menu{
    display: block;/*Para flutuar pela tela*/
    
}

nav#menu ul{
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;/*Para passar por cima dos elementos do site, o position relativa é apenas dentro do seu bloco*/
    top: -20px;
    left: 300px;
    margin-left: 150px;

}

nav#menu li{
    display: inline-block; /*Para o bloco ser exibido na mesma linha*/
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;

    transition: background-color 0.3s;
}

nav#menu a:hover{
    color: white;
}

nav#menu li:hover{
    background-color: #777777;
    text-decoration: underline;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

/*Para ficar um do lado do outro*/

section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060; /*Para criar o risco lateral*/
    padding-right: 20px;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
}

footer#rodape{
    clear: both;/*Para mostrar o conteúdo fora da divisão*/
    border-top: 1px solid #606060;
    
}

footer#rodape p{
    text-align: center;
}

/*Foto do cabeçalho*/

header#cabecalho img#icone{
    position: absolute;
    left: 760px;
    top: 70px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url('../_imagens/glass-logo-peq.jpg') no-repeat 0px 80px;
      
}

header#cabecalho h1{
    font-family: 'FonteLogo', Helvetica, sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/*Formatação de imagens com legendas*/

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

/*EFEITO*/

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /*Box dentro da borda*/

    transition: opacity 0.3s;
    

}

figure.foto-legenda figcaption:hover{
    opacity: 100;
}

p{
    text-align: justify;
    text-indent: 50px;
}

table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px; /*Para tirar o espaço da tabela*/
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec  td{
    border: 1px solid #606060;
    padding: 10px;
    

}