@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url('../_imagens/radio-tv.png') no-repeat;
}

audio#musica{
    display: block;
    position: relative;
    top: 490px;
    left: 575px;
    width: 300px;
   
}
video#filme{
    display: block;
    position: relative;
    top: 60px;
    left: 87px;
    width: 440px;
}